ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    background-color: #95A5A6;
}
.nav li {
    display: inline;
}
ul.nav a {
    display: inline-block;
    width: 5em;
    padding:10px;
    background-color: #95A5A6;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}